body {
  // background: url("/assets/bg.png") no-repeat !important;
  background: #e4e4e4 !important;
  .container {
    background: #fff;
  }
  background-size: 100% auto !important;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  .loginCntnr {
    background: #eee;
    padding: 5%;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    h2 {
      margin-bottom: 20px;
    }
  }
  .header {
    span {
      cursor: pointer;
    }
    .userInfo {
      padding-right: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      .userPic {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 3px solid #fff;
        margin-right: 10px;
      }
    }
    .SearchBoxCntnr {
      margin-left: 40px;
      display: block;
      margin-top: 10px;
      padding: 5px;
      background: #f1f1f1;
      border-radius: 9px;
      color: #000;
      width: 60%;
      i {
        cursor: pointer;
      }
      .fa-search {
        font-size: 22px;
        padding: 4px;
        display: block;
        float: right;
      }
      input {
        height: 25px;
        background: #f1f1f1;
        padding: 5px;
        font-size: 15px;
        outline: none;
        border: none;
        margin: 5px;
        width: 80%;
      }
    }
  }
  .mediaCntnr {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
    .search {
      font-size: 2em;
      color: #666;
      cursor: pointer;
    }
  }
  .tracksCntnr {
    padding-bottom: 100px;
    .trackBoxDefault {
      display: block;
      margin: 5px;
      width: 150px;
      height: 150px;
      background: #ccc;
      border: 2px solid #fff;
      border-radius: 5px;
      background-size: 100% 100% !important;
      position: relative;
    }
    .trackBox {
      display: block;
      margin: 5px;
      width: 150px;
      height: 150px;
      background: #ccc;
      border: 2px solid #fff;
      border-radius: 5px;
      position: absolute;
      z-index: 500;
      background-size: 100% 100% !important;
      top: 0;
      left: 0;
    }
    .SongRow {
      padding: 20px;
      smallTxt {
        color: #aaa;
        font-size: 13px;
      }
      .PlayBtn {
        background: #b5190e;
        width: 45px;
        height: 45px;
        display: block;
        float: left;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 25px;
        padding-top: 10px;
        margin-right: 15px;
        cursor: pointer;
      }
    }
    .addToPlaylistLink {
      border: 1px solid#000;
      padding: 3px 7px;
      border-radius: 4px;
      font-size: 14px;
      margin-top: 10px;
      clear: both;
      cursor: pointer;
      outline: none;
    }
  }
  .playListModal {
    max-height: auto !important;
    div {
      max-height: auto !important;
    }
  }
  .playListCntnr {
    max-height: 200px;
    overflow-y: auto;
  }
  .playlistInfo {
    border: 2px solid #ccc;
    padding: 20px;
    background: #e5e5e5;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    border-radius: 10px;
  }
  .PlayerCntnr {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;

    .player {
      background: #b5190e;
      padding: 20px;
      width: 40%;
      margin: 0 auto;
      border: 2px solid #000;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  .addUser {
    background: #b5190e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: 2px solid #fff;
    text-align: center;
  }
}

.pull-left {
  float: left;
  display: block;
}
